<div class="container">
  <div class="row">
    <%= form_tag expenses_path, method: :get, class: 'expense-search-form' do %>
    <div class="col-md-3">
      <h4 class="filter-header">Tipo de transacción <span>Seleccionar para filtrar</span></h4>
      <div class="list-group filter-type">
        <%= transaction_type_filters(@transaction_types) %>
        <%= hidden_field_tag :transaction_type, params[:transaction_type] %>
      </div>
      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <%= category_filters(@categories) %>
        <%= hidden_field_tag :category, params[:category] %>
      </div>
    </div>

    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$<%= number_to_currency @expenses.sum(:amount), unit: 'COP' %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @expenses.size %></div>
          <div class="summary-label">Transacciones</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$<%= number_to_currency @expenses.average(:amount) || 0, unit: 'COP' %></div>
          <div class="summary-label">Promedio</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <%= link_to new_expense_path, remote: true, class: 'btn btn-success pull-left' do %>
            <span class="glyphicon glyphicon-plus"></span> Nuevo gasto
          <% end %>
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
              <%= current_month_filter(params[:month_ago]) %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <%= month_filters %>
            </ul>
            <%= hidden_field_tag :month_ago, params[:month_ago] %>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <%= render @expenses %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
