<%= hidden_field_tag :expenses_path, expenses_path, { id: 'js-expenses-path' } %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction type <span>Select to filter</span></h4>
      <div class="list-group filter-type js-transaction-type-filters">
        <%= transaction_type_filters(@transaction_types) %>
      </div>
      <h4 class="filter-header">Category <span>Select to filter</span></h4>
      <div class="list-group filter-type js-category-filters">
        <%= category_filters(@categories) %>
      </div>
    </div>

    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="js-expense-total">$<%= number_to_currency @expenses.sum(:amount), unit: '' %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="js-expense-size"><%= @expenses.size %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="js-expense-average">$<%= number_to_currency @expenses.average(:amount) || 0, unit: '' %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <%= link_to new_expense_path, remote: true, class: 'btn btn-success pull-left' do %>
            <span class="glyphicon glyphicon-plus"></span> New expense
          <% end %>
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
              <span id="js-current-month-filter">
                <%= current_month_filter(params[:month_ago]) %>
              </span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu js-month-filters" role="menu">
              <%= month_filters %>
            </ul>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Day</th>
            <th>Concept</th>
            <th class="text-right">Category</th>
            <th class="text-right">Value</th>
          </tr>
        </thead>
        <tbody id="js-list-expenses">
          <%= render @expenses %>
        </tbody>
      </table>
    </div>
  </div>
</div>
